$s-b2c_mf_logo_129x23: 534px, 353px, -534px, -353px, 119px, 21px, 692px, 563px, 'sprite.png';
$s-gdeslont_logo: 0px, 482px, 0px, -482px, 159px, 47px, 692px, 563px, 'sprite.png';
$s-marketguru_logo: 208px, 202px, -208px, -202px, 100px, 100px, 692px, 563px, 'sprite.png';
$s-mecash_logo: 534px, 40px, -534px, -40px, 121px, 44px, 692px, 563px, 'sprite.png';
$s-mobiguru_logo: 0px, 202px, 0px, -202px, 100px, 100px, 692px, 563px, 'sprite.png';
$s-ali: 175px, 382px, -175px, -382px, 179px, 43px, 692px, 563px, 'sprite.png';
$s-city: 358px, 382px, -358px, -382px, 163px, 40px, 692px, 563px, 'sprite.png';
$s-coffe: 534px, 231px, -534px, -231px, 113px, 35px, 692px, 563px, 'sprite.png';
$s-comp: 163px, 482px, -163px, -482px, 154px, 47px, 692px, 563px, 'sprite.png';
$s-dinamika: 0px, 382px, 0px, -382px, 171px, 46px, 692px, 563px, 'sprite.png';
$s-dyson: 387px, 297px, -387px, -297px, 105px, 57px, 692px, 563px, 'sprite.png';
$s-etalon: 534px, 88px, -534px, -88px, 79px, 66px, 692px, 563px, 'sprite.png';
$s-goods: 0px, 432px, 0px, -432px, 166px, 46px, 692px, 563px, 'sprite.png';
$s-i3d: 134px, 306px, -134px, -306px, 150px, 59px, 692px, 563px, 'sprite.png';
$s-ioo3: 387px, 133px, -387px, -133px, 141px, 53px, 692px, 563px, 'sprite.png';
$s-klad: 534px, 0px, -534px, 0px, 158px, 36px, 692px, 563px, 'sprite.png';
$s-laptop: 202px, 0px, -202px, 0px, 181px, 86px, 692px, 563px, 'sprite.png';
$s-markt: 356px, 533px, -356px, -533px, 174px, 23px, 692px, 563px, 'sprite.png';
$s-med: 534px, 304px, -534px, -304px, 142px, 20px, 692px, 563px, 'sprite.png';
$s-megafon: 534px, 328px, -534px, -328px, 119px, 21px, 692px, 563px, 'sprite.png';
$s-mix: 202px, 90px, -202px, -90px, 131px, 89px, 692px, 563px, 'sprite.png';
$s-mvideo: 0px, 306px, 0px, -306px, 130px, 72px, 692px, 563px, 'sprite.png';
$s-notik: 321px, 482px, -321px, -482px, 158px, 40px, 692px, 563px, 'sprite.png';
$s-ogo: 387px, 65px, -387px, -65px, 121px, 64px, 692px, 563px, 'sprite.png';
$s-oldi: 387px, 190px, -387px, -190px, 135px, 55px, 692px, 563px, 'sprite.png';
$s-pleer: 387px, 0px, -387px, 0px, 143px, 61px, 692px, 563px, 'sprite.png';
$s-port: 170px, 432px, -170px, -432px, 151px, 44px, 692px, 563px, 'sprite.png';
$s-quke: 0px, 533px, 0px, -533px, 169px, 30px, 692px, 563px, 'sprite.png';
$s-rumi: 534px, 158px, -534px, -158px, 144px, 34px, 692px, 563px, 'sprite.png';
$s-svyaznoi: 325px, 432px, -325px, -432px, 173px, 37px, 692px, 563px, 'sprite.png';
$s-thecomp: 173px, 533px, -173px, -533px, 179px, 25px, 692px, 563px, 'sprite.png';
$s-ziwo: 387px, 249px, -387px, -249px, 143px, 44px, 692px, 563px, 'sprite.png';
$s-socialmart_logo: 534px, 196px, -534px, -196px, 143px, 31px, 692px, 563px, 'sprite.png';
$s-symphony: 0px, 0px, 0px, 0px, 198px, 198px, 692px, 563px, 'sprite.png';
$s-techiguru_logo: 104px, 202px, -104px, -202px, 100px, 100px, 692px, 563px, 'sprite.png';
$s-topadvert_logo: 534px, 270px, -534px, -270px, 130px, 30px, 692px, 563px, 'sprite.png';
