$s-b2c_mf_logo_129x23: 117px, 539px, -117px, -539px, 119px, 21px, 589px, 574px, 'sprite.png';
$s-gdeslont_logo: 423px, 50px, -423px, -50px, 159px, 47px, 589px, 574px, 'sprite.png';
$s-marketguru_logo: 104px, 183px, -104px, -183px, 100px, 100px, 589px, 574px, 'sprite.png';
$s-mecash_logo: 289px, 205px, -289px, -205px, 121px, 44px, 589px, 574px, 'sprite.png';
$s-mobiguru_logo: 185px, 0px, -185px, 0px, 100px, 100px, 589px, 574px, 'sprite.png';
$s-ali: 147px, 350px, -147px, -350px, 179px, 43px, 589px, 574px, 'sprite.png';
$s-city: 423px, 316px, -423px, -316px, 163px, 40px, 589px, 574px, 'sprite.png';
$s-coffe: 0px, 539px, 0px, -539px, 113px, 35px, 589px, 574px, 'sprite.png';
$s-comp: 423px, 217px, -423px, -217px, 154px, 47px, 589px, 574px, 'sprite.png';
$s-dinamika: 154px, 287px, -154px, -287px, 171px, 46px, 589px, 574px, 'sprite.png';
$s-dyson: 289px, 144px, -289px, -144px, 105px, 57px, 589px, 574px, 'sprite.png';
$s-etalon: 185px, 104px, -185px, -104px, 79px, 66px, 589px, 574px, 'sprite.png';
$s-goods: 423px, 0px, -423px, 0px, 166px, 46px, 589px, 574px, 'sprite.png';
$s-i3d: 0px, 287px, 0px, -287px, 150px, 59px, 589px, 574px, 'sprite.png';
$s-ioo3: 423px, 101px, -423px, -101px, 141px, 53px, 589px, 574px, 'sprite.png';
$s-klad: 177px, 415px, -177px, -415px, 158px, 36px, 589px, 574px, 'sprite.png';
$s-laptop: 0px, 0px, 0px, 0px, 181px, 86px, 589px, 574px, 'sprite.png';
$s-markt: 147px, 504px, -147px, -504px, 174px, 23px, 589px, 574px, 'sprite.png';
$s-med: 325px, 504px, -325px, -504px, 142px, 20px, 589px, 574px, 'sprite.png';
$s-mix: 0px, 90px, 0px, -90px, 131px, 89px, 589px, 574px, 'sprite.png';
$s-mvideo: 289px, 0px, -289px, 0px, 130px, 72px, 589px, 574px, 'sprite.png';
$s-notik: 423px, 360px, -423px, -360px, 158px, 40px, 589px, 574px, 'sprite.png';
$s-ogo: 289px, 76px, -289px, -76px, 121px, 64px, 589px, 574px, 'sprite.png';
$s-oldi: 423px, 158px, -423px, -158px, 135px, 55px, 589px, 574px, 'sprite.png';
$s-pleer: 0px, 350px, 0px, -350px, 143px, 61px, 589px, 574px, 'sprite.png';
$s-port: 423px, 268px, -423px, -268px, 151px, 44px, 589px, 574px, 'sprite.png';
$s-quke: 339px, 415px, -339px, -415px, 169px, 30px, 589px, 574px, 'sprite.png';
$s-rumi: 147px, 456px, -147px, -456px, 144px, 34px, 589px, 574px, 'sprite.png';
$s-svyaznoi: 0px, 415px, 0px, -415px, 173px, 37px, 589px, 574px, 'sprite.png';
$s-thecomp: 295px, 456px, -295px, -456px, 179px, 25px, 589px, 574px, 'sprite.png';
$s-ziwo: 0px, 456px, 0px, -456px, 143px, 44px, 589px, 574px, 'sprite.png';
$s-socialmart_logo: 0px, 504px, 0px, -504px, 143px, 31px, 589px, 574px, 'sprite.png';
$s-techiguru_logo: 0px, 183px, 0px, -183px, 100px, 100px, 589px, 574px, 'sprite.png';
$s-topadvert_logo: 289px, 253px, -289px, -253px, 130px, 30px, 589px, 574px, 'sprite.png';
